  <!-- views/partials/footer.ejs -->
  <footer>
    <p class="text-center text-muted"><a href="https://github.com/epfl-si/">@ISAS-FSD</a> &mdash; <small>(theme adapted from <a href="http://blacktie.co/demo/flatty/">flatty</a>)</small></p>
  </footer>
