  <!-- views/partials/header.ejs -->
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1>Yup! This gif has been<br/>
          brought to you by <%= process.env.DEPLOYEDBY || 'the Internet' %>!</h1>
        </div><!-- /col-lg-6 -->
        <div class="col-lg-5">
          <img class="img-responsive" style="margin: 0 auto;" src="//thecatapi.com/api/images/get?format=src&type=gif" alt="your lolcat">
        </div><!-- /col-lg-6 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->
