  <!-- views/partials/navbar.ejs -->
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b><%= process.env.DEPLOYEDBY || 'the Internet' %></b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a>Served by: <%= hostname %></a></li>
          <li><a><% var secret = process.env.K8SSECRET || 'not set' %>
                  <small>Env secret: <%= secret %></small></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/epfl-si/cluster.k8s.testserver/issues">help/info</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
