  <!-- views/partials/navbar.ejs -->
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>NEMESIS</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a>Served by: <%= hostname %></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://go.epfl.ch/nemesis">help/info</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
