<blockquote class="blockquote-reverse">
  <h3>To err is human, but to really foul things up you need a computer.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Paul_R._Ehrlich"><cite title="Source Title">Paul R. Ehrlich</cite></a></footer>
</blockquote>
