
<blockquote class="blockquote-reverse">
  <h3>A computer lets you make more mistakes faster than any other invention with the possible exceptions of handguns and Tequila.</h3>
  <footer><a href="hlmgtfy.com/?s=d&q=Mitch+Ratcliffe"><cite title="Source Title">Mitch Ratcliffe</cite></a></footer>
</blockquote>
