<blockquote class="blockquote-reverse">
  <h3>Actually I made up the term "object-oriented", and I can tell you I did not have C++ in mind.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Alan_Kay"><cite title="Source Title">Alan Kay</cite></a></footer>
</blockquote>
