<blockquote class="blockquote-reverse">
  <h3>Nothing kills innovation like having to file a ticket.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Mark_Shuttleworth"><cite title="Source Title">Mark Shuttleworth</cite></a>, OpenStack Summit Paris, 2014</footer>
</blockquote>
