<blockquote class="blockquote-reverse">
  <h3>Man is still the most extraordinary computer of all.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/John_F._Kennedy"><cite title="Source Title">John F. Kennedy</cite></a></footer>
</blockquote>
