<blockquote class="blockquote-reverse">
  <h3>Don't try to be like Jackie. There is only one Jackie. Study computers instead.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Jackie_Chan"><cite title="Source Title">Jackie Chan</cite></a></footer>
</blockquote>
