<blockquote class="blockquote-reverse">
  <h3>I am very bad at computers. I don't really know how to write email.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Marjane_Satrapi"><cite title="Source Title">Marjane Satrapi</cite></a></footer>
</blockquote>
