<blockquote class="blockquote-reverse">
  <h3>Your computer needn't be the first thing your see in the morning and the last thing you see at night.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Simon_Mainwaring"><cite title="Source Title">Simon Mainwaring</cite></a></footer>
</blockquote>
