<blockquote class="blockquote-reverse">
  <h3>Anyway, all these computers and digital gadgets are no good. They just fill your head with numbers and that can't be good for you.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Prince_(musician)"><cite title="Source Title">Prince</cite></a></footer>
</blockquote>
