<blockquote class="blockquote-reverse">
  <h3>Modern people are only willing to believe in their computers, while I believe in myself.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Alain_Robert"><cite title="Source Title">Alain Robert</cite></a></footer>
</blockquote>
