<blockquote class="blockquote-reverse">
  <h3>If you like overheads, you'll love PowerPoint.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Edward_Tufte"><cite title="Source Title">Edward Tufte</cite></a></footer>
</blockquote>
