<blockquote class="blockquote-reverse">
  <h3>You can't trust the internet.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Nicollette_Sheridan"><cite title="Source Title">Nicollette Sheridan</cite></a></footer>
</blockquote>
