<blockquote class="blockquote-reverse">
  <h3>It always helps to be a good programmer. It is important to like computers and to be able to think of things people would want to do with their computers.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Bill_Budge"><cite title="Source Title">Bill Budge</cite></a></footer>
</blockquote>
