<blockquote class="blockquote-reverse">
  <h3>It's hardware that makes a machine fast. It's software that makes a fast machine slow.</h3>
  <footer><a href="http://csbruce.com/quotes/craig/"><cite title="Source Title">Craig Bruce</cite></a></footer>
</blockquote>
