<blockquote class="blockquote-reverse">
  <h3>Treat your password like your toothbrush. Don't let anybody else use it, and get a new one every six months.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Clifford_Stoll"><cite title="Source Title">Clifford Stoll</cite></a></footer>
</blockquote>
