<blockquote class="blockquote-reverse">
  <h3>I do not fear computers. I fear the lack of them.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Isaac_Asimov"><cite title="Source Title">Isaac Asimov</cite></a></footer>
</blockquote>
