<blockquote class="blockquote-reverse">
  <h3>I am very bad at computers. I don't really know how to write email.</h3>
  <footer><a href="https://en.wikiquote.org/wiki/Alan_Perlis"><cite title="Source Title">Alan Perlis</cite></a></footer>
</blockquote>
