<blockquote class="blockquote-reverse">
  <h3>I was nerdy and really into computers. I was a good student until my senior year, when I started traveling and had a lot of absences.</h3>
  <footer><a href="https://en.wikipedia.org/wiki/Tony_Hawk"><cite title="Source Title">Tony Hawk</cite></a></footer>
</blockquote>
